h1 {
    font-family: 'VT323', monospace;
    font-size: 2.9rem;
    font-weight: bolder;
    text-shadow: #1b1b1b 2px 2px;
}

h2 {
    font-family: 'Indie Flower', monospace;
    font-size: 1.5rem;
    
}

h3 {
    font-family: 'VT323', monospace;
    font-size: larger;
    font-weight: bold;
    
}

a h3 {
    color: #ff8f00;
    border: 2px solid #ff8f00;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

a:hover {
    color: aqua;
    background-color: green;
}

a:visited {
    color: green;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    line-height: 1.5;
}

.squiggle {
    font-family: 'Indie Flower';
    font-size: x-large;
    line-height: 1.25;
    color: white;
}

span {
    font-family: 'Indie Flower', monospace;
}

#navigation {
    background-color: #1b1b1b;
    width: 100%;
    position: fixed;
    
    z-index: 100;
}

#navigation li {
    display: inline;
}

.welcome {
    text-align: center;
    color: #ff8f00;
    background-color: black;
    background-image: linear-gradient(rgba(114, 85, 0, 0.75), rgba(0, 0, 0, 0.75)), url('https://www.teahub.io/photos/full/131-1310575_iphone-cute-halloween-background.jpg');
    height: auto;
    background-position: center;

}

.welcome img {
    border-radius: 75px;
    height: 100px;
    width: auto;
}

#headtext {
    display: inline-block;
    vertical-align: middle;
    padding: 100px;
    background-color: hsla(146, 50%, 36%, 0);
    border-radius: 200px;
    margin: 5px;
    line-height: 1.2;
    
}

.sectiontitle {
    text-align: center;
    color: #ff8f00;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.resources {
    background-color: #1b1b1b;
    padding: 20px;
}

.htmlstructure {
    background-color: #2e2e2e;
    padding: 20px;
    border: 2px inset orange;
}

.lists {
    background-color: #1b1b1b;
    padding: 20px;
}

.htmltables {
    background-color: #2e2e2e;
    padding: 20px;
    border: 2px inset orange;
}

.access {
    background-color: #1b1b1b;
    padding: 20px;
    
}

.buttons {
    background-color: #2e2e2e;
    padding: 20px;
    border: 2px inset orange;
}

.crumbsec {
    background-color: #1b1b1b;
    padding: 20px;
}

.coolpeople {
    background-color: #1b1b1b;
    padding: 20px;
}

.lists ul {
    list-style: circle;
    font-family: 'Indie Flower';
    line-height: 1.5rem;
}

.lists ol {
    font-family: "VT323";
    line-height: 1.5rem;
}

#tablebox {
    display: inline-block;
    position: relative;
    z-index: 3;
    vertical-align: top;
    background-color: black;
    color: aliceblue;
    border-radius: 25px;
    padding: 25px;
    height: 300px;
    width: 28%;
    margin: 10px auto;
    
    
}

#table {
    padding: 20px;
    border: 5px solid orange;
    border-radius: 25px;
    width: 50%;
    margin: auto;
}


th {
    padding: 10px;
    text-align: center;
    border: 2px solid orange;
    font-weight: bold;
    color: white;
    width: 50%;
    margin: auto;

}

th:hover {
    background-color: #ff8f00;
}

td {
    padding: 10px;
    text-align: center;
    border: 2px solid orange;
    color: white;
}

td:hover {
    background-color: gray;
}

#tablecode {
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 25px;
    height: 300px;
    overflow-y: scroll;
    width: 28%;
    margin: 10px auto;
    display: inline-block;
    position: relative;
    z-index: 2;
    vertical-align: top;
    scroll-behavior: smooth;
}

#tablecode p {
    border: 5px solid orange;
    border-radius: 25px;
    padding: 20px;
}

#tablecode p:hover {
    background-color: grey;
}

#tablestyle {
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 25px;
    height: 300px;
    width: 28%;
    margin: 10px auto;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#tablestyle p {
    border: 5px solid orange;
    border-radius: 25px;
    padding: 20px;
}

#tablestyle p:hover {
    background-color: grey;
}

#tableexplain {
    color: white;
    text-align: justify;
    padding: 20px;
}

#accessbox {
    display: block;
    position: relative;
    z-index: 3;
    color: aliceblue;
    border-radius: 25px;
    padding: 25px;
    height: 300px;
    width: auto;
    margin: 10px
    
}

#accesstable {
    width: auto;
    align-items: center;
}

#buttonbox {
    display: inline-block;
    position: relative;
    z-index: 3;
    vertical-align: top;
    background-color: hsla(0, 0%, 50%, 0.5);
    color: aliceblue;
    border-radius: 25px;
    padding: 25px;
    height: 300px;
    width: 28%;
    margin: 10px auto;
    
}

.sbut {
    color: black;
    border: 2px inset green;
    background-color: #ff8f00;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    display: inline-block;
    margin: 10px;
}

.sbut:visited {
    color: black;
    border: 2px solid green;
    background-color: #ff8f00;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px;
}

.sbut:hover {
    box-shadow: 0px 2px;
    background-color: green;
}

.sbut:active {
    box-shadow: 0px 0px;
    background-color: aqua;
}

.ssbut {
    color: black;
    border: 2px inset green;
    background-color: #ff8f00;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    display: inline-block;
    margin: 10px;
}

.ssbut:visited {
    color: black;
    border: 2px solid green;
    background-color: #ff8f00;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px;
}

.ssbut:hover {
    box-shadow: 0px 2px;
    background-color: green;
}

.ssbut:active {
    box-shadow: 0px 0px;
    background-color: aqua;
}

.fbut {
    color: orange;
    border: 2px solid orange;
    background-color: hsla(0, 0%, 0%, .5);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Indie Flower', monospace;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    display: inline-block;
    margin: 10px;
}

.fbut:visited {
    color: orange;
    border: 2px solid orange;
    background-color: hsla(0, 0%, 0%, .5);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Indie Flower', monospace;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    display: inline-block;
}

.fbut:hover {
    background-color: black;
    text-indent: 5%;
}

.ffbut {
    color: orange;
    border: 2px solid orange;
    background-color: hsla(0, 0%, 0%, .5);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Indie Flower', monospace;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    display: inline-block;
    margin: 10px;
}

.ffbut:visited {
    color: orange;
    border: 2px solid orange;
    background-color: hsla(0, 0%, 0%, .5);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Indie Flower', monospace;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    display: inline-block;
}

.ffbut:hover {
    background-color: black;
    text-indent: 5%;
}

.breadcrumb {
    text-align: left;
  }
  .breadcrumb li {
    float: left;
  }
  
  .breadcrumb a {
    color: #000;
    background: orange;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    padding: 0 10px;
    
  }
  
  .breadcrumb a::before, .breadcrumb a::after {
    content: "";
    position: absolute;
    border-color: orange;
    border-style: solid;
    border-width: 15px 5px;
  }
  
  .breadcrumb a::before {
    left: -10px;
    border-left-color: transparent;
  }
  
  .breadcrumb a::after {
    left: 100%;
    border-color: transparent;
    border-left-color: orange;
  }
  
  .breadcrumb a:hover {
    background-color: black;
    color: white;
  }
  
  .breadcrumb a:hover::before {
    border-color: black;
    border-left-color: transparent;
    color: white;
  }
  
  .breadcrumb a:hover::after {
    border-left-color: black;
    color: white;
  }
